@{
}

<form action="/Programa/Confirmacao" method="post">
    <label>Nome: </label>
    <input type="text" name="Nome" />
    <br /> <br />
    <label>Horário: </label>
    <input type="text" name="Horario" />
    <br /> <br />
    <input type="submit" class="btn btn-secondary" />
</form>