@page "{Id?}"
@model ProtocoloHTTP.Pages.AlunoHttp.AlunoPageModel
@{
}

<h3>Aluno selecionado</h3>
<ul>
    <li>Nome: @Model.selectedAluno.Nome</li>
    <li>E-mail: @Model.selectedAluno.Email</li>
</ul>