@page "{Id?}"
@model ProtocoloHTTP.Pages.AlunoPageModel
@{
}

@if (Model.selectedAluno != null)
    {
        <h3>Aluno selecionado</h3>
        <ul>
            <li>Nome: @Model.selectedAluno.Nome</li>
            <li>E-mail: @Model.selectedAluno.Email</li>
        </ul>
    }
    else
    {  
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>E-mail</td>
                <td>Visualizar</td>
                <td>Excluir</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in Model.alunos)
            {
                <tr>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Email</td>
                    <td>
                        <a href="/AlunoPage?Id=@aluno.Id">
                            Ver
                        </a>
                    </td>
                    <td>
                        <a href="/AlunoPage/Delete/@aluno.Id">
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }